<div class="new-question-form">
  <h2>Quiz Name: <%= @quiz.name %></h2>
  <h3>Category: <%= @quiz.category %></h3>
  <h4>Author: <%= @quiz.author %></h4>
  <h4>id: <%= @quiz.id %></h4>
  <%= form_for([@quiz, @question], remote: true) do |f| %>
  <fieldset>
    <legend>New Question</legend>
    <div class="field">
      <%= f.label :question %><br>
      <%= f.text_field :question %>
    </div>
    <div class="field">
      <%= f.label :answer %><br>
      <%= f.text_field :answer %>
      <%= f.hidden_field :quiz_id, :value => @quiz.id %>
    <div class="actions">
      <%= f.submit class: 'add-question'%>
    </div>
  </fieldset>
  <% end %>
</div>
    <div class="question-notice">
    </div>
<div>
  <%= render "questions" %>
</div>
