<div class="home">
  <% if current_user %>
    <h1> Welcome to Quizdown </h1>
    <div class="quiz-list">
      <h3><%= current_user.name %>'s Quizzes</h3>
      <ul>
        <% @user_quizzes.each do |quiz| %>
          <li><%= quiz.category %></li>
          <li><%= link_to "Start Quiz", quiz_path(quiz) %></li>
          <li><%= link_to "Create/Edit Questions", quiz_questions_path(quiz) %></li>
          <li><%= link_to "Delete Quiz", quiz, :method => :delete %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <h1> Welcome to Quizdown </h1>
  <% end %>
  <h3>Community Quizzes</h3>
  <div class="quiz-list">
    <ul>
      <% @customs.each do |quiz| %>
        <li><%= quiz.name %></li>
        <li><%= quiz.category %></li>
        <li><%= quiz.author %></li>
        <li><%= link_to "Start Quiz", custom_path(quiz) %></li>
      <% end %>
    </ul>
  </div>
  <h3>Trivia Quizzes</h3>
  <div class="quiz-">
    <ul>
      <% @trivia.each do |quiz| %>
        <li><%= quiz.category %></li>
        <li><%= link_to "Start Quiz", quiz_path(quiz) %></li>
      <% end %>
    </ul>
  </div>
</div>
