<div class="home">
  <h1>Welcome to Quizhub</h1>
  <section>
    <h2>Community Quizzes</h2>
    <div class="quiz-list">
      <% @customs.each do |quiz| %>
        <ul class="list-item">
          <li><b>Quiz Name:</b> <%= quiz.name %></li>
          <li><b>Category:</b> <%= quiz.category %></li>
          <li><b>Created By:</b> <%= quiz.author %></li>
          <li><%= link_to "Start Quiz", custom_path(quiz) %></li>
        </ul>
      <% end %>
    </div>
  </section>
  <section>
    <h2>Trivia Quizzes</h2>
    <div class="quiz-list">
      <% @trivia.each do |quiz| %>
        <ul class="list-item">
          <li><%= quiz.category %></li>
          <li><%= link_to "Start Quiz", quiz_path(quiz) %></li>
        </ul>
      <% end %>
    </div>
  </section>
</div><!--page-->
