<div class="home">
  <h1> HELLO WORLD </h1>

  <% if current_user %>
    Welcome <%= current_user.name %>!
    <%= link_to "Sign Out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
    <% end %>
</div>


<!-- <h1><%= @result %></h1> -->
<p><%= @question %></p>
<!-- <p><%= @res %></p> -->

<ul>
  <% @res.each do |r| %>
  <li><%= r["question"] %></li>
  <% end %>
</ul>

<div class="cats">
  <ul>
  <% @quizzes.each do |quiz| %>
    <li><%= quiz.category %><span><%= link_to "Start Quiz", quiz_path(quiz) %></span></li>
  <% end %>
  </ul>
</div>
