<h1><%= current_user.name %>'s Quizzes</h1>
<div class="quiz-list">
  <% @user_quizzes.each do |quiz| %>
    <ul>
      <li><%= quiz.category %></li>
      <li><%= link_to "Start Quiz", quiz_path(quiz) %></li>
      <li><%= link_to "Create/Edit Questions", quiz_questions_path(quiz) %></li>
      <li><%= link_to "Delete Quiz", quiz, :method => :delete %></li>
    </ul>
  <% end %>
</div>
