<!DOCTYPE html>
<html>
<head>
  <title>Quizzly Bear</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <nav>
    <ul>
      <li>Welcome <%= current_user.name %>!</li>
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Create Quiz", new_quiz_path %></li>
      <li><%= link_to "Manage Quizzes", profile_path(current_user) %></li>
      <li><a href="#">Favorite Quizzes</a></li>
      <li><%= link_to "Sign Out", signout_path %></li>
    </ul>
  </nav>
  <% else %>
  <nav>
    <ul>
      <li>Welcome Guest!</li>
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
    </ul>
  </nav>
  <% end %>
  <%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
